@charset "utf-8";
/* CSS Document */

.block {
	background: #eff7ff;
	border: 1px solid #B1BDC9;
	margin-bottom: 15px;
}

.block p {
	padding: 10px 0 0 0;
	margin-bottom: -5px;
	text-shadow: 1px 1px 1px #ddd;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.block form {
	padding: 10px;
	width: 100%;
}

div#content ul.listHouse {
	
}

div#content ul.listHouse li {
	border-bottom: 1px solid #b1bdc9;
	padding-bottom:10px;
}

div#content ul.listHouse li:hover {
	background: #eff7ff;
}

div#content ul.listHouse li p.image {
	float: left;
	padding: 0 5px;
	text-align: center;
}

div#content ul.listHouse li p.image span {
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-bottom: 5px;
	text-transform: uppercase;
}

div#content ul.listHouse li p.image img {
	clear: both;
	float: left;
}

div#content ul.listHouse li .detail {
	padding: 0 5px;
}

div#content ul.listHouse li .detail p.title {
	font-size: 15px;
	margin: 7px 0;
	padding: 20px 0 0 0;
}

div#content ul.listHouse li .detail p.title a {
	color: #098ea4;
	text-decoration: underline;
}

div#content ul.listHouse li .detail p.content {
	font-size: 14px;
	margin-bottom: 7px;
	text-align: left;
}

div#content ul.listHouse li .detail p.info span {
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}

div#content ul.listHouse li .detail p.info span em {
	color: #f00;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;	
}

div#content.reset {
	border: 1px solid #b1bdc9;
}

div#content.reset .introduction {
	padding:15px 10px;
}

div#content.reset .introduction h2 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;	
}

div#content.reset .introduction h3 {
	color: #FF0000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

div#content.reset .introduction p {
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 10px;
	text-align:justify;
}

div#content.reset .introduction p.focus {
	padding-left: 5px;
	text-indent: -5px;
	text-align: left;
}

div#content.reset .introduction p em {
	color: #f00;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
}

div#content.reset .introduction p.contact {
	color: #098ea4;
}

div#content.reset .introduction h2.bHead {
	text-align: left;
}


/* Detail */

div#content .section {
	clear: both;
}

div#content .section .sectionInner {
	padding: 10px 10px 0 10px;
}

div#content .section .sectionInner h2 {
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: bold;
}

div#content .section .sectionInner p {
	font-size: 12px;
	margin-bottom: 10px;
}

div#content .section .sectionInner .box {
	font-size: 14px;
}

div#content .section .sectionInner .box .boxImage {
	float: left;
	width: 100%;;
}

div#content .section .sectionInner .box .boxImage .imgtop {
	background:url(../common/images/defaulthouse.jpg) top center no-repeat;
	border: 1px solid #646464;
	float: left;
	height: 200px;
	margin-bottom: 10px;
	width: 100%;
}

div#content .section .sectionInner .box .boxImage ul.listImage {
	clear: both;
    margin-right: -28px;
    width: 100%;
}

div#content .section .sectionInner .box .boxImage ul.listImage li {	
	float: left;
	margin-right: 28px;
}

div#content .section .sectionInner .box .boxImage ul.listImage li a img {	
	width: 130px;
	border: 1px solid #b1bdc9;
}

div#content .section .sectionInner .box .boxImage ul.listImage li a:hover img {	
	width: 130px;
	border: 1px solid #646464;
}

div#content .section .sectionInner .box .boxImage ul.listImage li a.selected img {	
	width: 130px;
	border: 1px solid #646464;
}

div#content .section .sectionInner .box .boxContent {
	margin-bottom: 5px;
	width: 100%;
	clear: both;
}

div#content .section .sectionInner .box .boxContent .boxDetail {
	border: 1px solid #b1bdc9;
	margin-bottom: 5px;
	border-radius: 8px;
}

div#content .section .sectionInner .box .boxContent .boxDetail p.price {
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
	color: #E41E26;
	font-weight: bold;
	margin-bottom: 0;
}

div#content .section .sectionInner .box .boxContent .boxDetail dl {
	padding: 7px 10px 0 10px;
	font-size: 13px;
}

div#content .section .sectionInner .box .boxContent .boxDetail dl dd {
	border-bottom: 1px dotted #B1BDC9;
    margin: -17px 0 6px;
    padding: 0 0 9px 89px;
}

div#content .section .sectionInner .box .boxContent .boxContact {
	border: 1px solid #b1bdc9;
	background: #eff7ff;
	border-radius: 8px;
}

div#content .section .sectionInner .box .boxContent .boxContact h3 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #E41E26;
	padding: 10px 10px 5px 10px;
}

div#content .section .sectionInner .box .boxContent .boxContact p {
	text-align: left;
	font-size: 13px;
	padding: 0 0 0 5px;
}

div#content .section .sectionInner .box .description {
	border: 1px solid #b1bdc9;
	clear: both;
	margin-bottom: 10px;
	border-radius: 8px;
}

div#content .section .sectionInner .box .description h3 {
	padding: 10px;
	font-weight: bold;
}

div#content .section .sectionInner .box .description p {
	font-size: 13px;
	padding: 0 5px 0 10px;
	text-align: justify;
}

div#content .section .sectionInner ul.listItem {
	margin-right: -8px;
}

div#content .section .sectionInner ul.listItem li {
	border: 1px solid #b1bdc9;
	border-radius: 5px;
	float: left;
	margin: 0 8px 8px 0;
	width: 100%;
}

div#content .section .sectionInner ul.listItem li p.image {
	float: left;
	margin: 5px;
}

div#content .section .sectionInner ul.listItem li p.image image {
	width: 75px;
	height: 75px;
	float: left;
}

div#content .section .sectionInner ul.listItem li p.title {
	padding-top: 5px;
}

div#content .section .sectionInner ul.listItem li p.title a {
	color: #098EA4;
}

div#content .section .sectionInner ul.listItem li p.title a:hover {
	text-decoration: underline;
}

div#content .section .sectionInner ul.listItem li p.price {
	color: #f00;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

#inner {
	width: 100% !important;
	padding-bottom: 50px;
	position: relative;
}
.caroufredsel_wrapper {	
	width: 100% !important;
}
#carousel-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	width: 100% !important;
}
#carousel {
	width: 100% !important;
	height: 400px !important;
	overflow: hidden;
}
#carousel img {
	display: block;
	float: left;
	width: 100% !important;
	height: 230px !important;
}

#pager-wrapper {
	height: 120px;
	width: 300px;
	overflow: hidden;
	position: absolute;
	top: 200px;
	left: 0;
	z-index: 2;
}
#pager img {
	cursor: pointer;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	display: block;
	width: 60px;
	height: 60px;
	padding: 2px;
	margin: 2px;
	float: left;
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
	#carousel img {
		height: 270px !important;
	}
	
	#pager-wrapper {
		height: 120px;
		width: 450px;
		overflow: hidden;
		position: absolute;
		top: 240px;	
		left: 0;
		z-index: 2;
	}
	
	#pager img {
		display: block;
		width: 70px;
		height: 70px;
	}
	
	div#content .section .sectionInner ul.listItem li {
		width: 49%;
		margin-right: 0.5%;
	}
}
#pager img:hover {
	background: #eff;
}
#pager img.selected {
	background: #dff;
}

select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 240px !important;
}
/* # clearfix
---------------------------------------------------------------------------- */

div#content ul.listHouse,
div#content ul.listHouse li {
	zoom: 1;
}

div#content ul.listHouse:after,
div#content ul.listHouse li:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
