@{
    ViewBag.Title = "Thông tin về chúng tôi : BDSBANGAP.COM";
}
<div>
<h2>VỀ CHÚNG TÔI: BDSBANGAP.COM</h2>
</div>
<br />
<div>
<ol>
    <li>Lợi ích chúng tôi đem đến cho Quý khách hàng:
        <ul>
            <li>Tiết kiệm được rất nhiều thời gian và công sức khi đi tìm mua nhà đất – chúng tôi đã sàn lọc, thẩm định giá và pháp lý rất nghiêm ngặt.</li>
            <li>Khách hàng sẽ mua được những nhà đất với giá hời nhất – chúng tôi chuyên săn những nhà đất bán gấp có giá thấp hơn giá thị trường tối thiểu 20%.</li>
            <li>Tuyệt đối an toàn về mặt pháp lý khi mua nhà đất – chúng tôi hiểu sâu về pháp lý trong bất động sản, đồng thời có mối quan hệ rất thân thiết với chính quyền các phường, quận mà chúng tôi làm việc (quận: 1, 3, Phú Nhuận, Bình Thạnh).</li>
        </ul>
    </li>
    <li>Năng lực và kinh nghiệm:</li>
    <li>Cam kết của chúng tôi:</li>
    <li>Hợp tác – Đối tác chiến lược:</li>
    <li>Thông tin liên hệ:</li>
</ol>
</div>
