@model BDSBanGap.Models.SearchModel
<style type="text/css">
    #District {
        width: 140px;
    }
    .pt5 td {padding: 0px 5px}
</style>
<div class="search-detail">
<div class="search-detail-header">
		<h3 class="search-detail-header-content">
			<div style="float:left;">
				<img src="/Content/images/TimKiemNangCao.png" alt="">
			</div>
			<div>
				&nbsp; Tìm kiếm
			</div>
		</h3>
	</div> <!--end div .search-detail-header -->
    <form action="/Home/Search" method="get" name="adv-search">
    @Html.Hidden("show", 15)
    @Html.Hidden("pg", 1)
    <div class="search-content">
    <div class="search-content-padding">
    <!-- cmt layout div
    <div class="item-search-content" id="price-search">

    </div>
    <div class="item-search-content" id="place-search">

    </div>
    -->
    <table class="pt5" style="border: none">
    <tr>
        <td style="font-weight:bold; border: none">
        Khu vực
        </td>
        <td style="border: none">
        @Html.DropDownListFor(s=>s.Dis, ViewBag.DisctrictSearch as SelectList,"Tất cả")
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold; border: none">Giá từ:
        </td>
        <td class="left w60 pt2" style="border: none">
         <select name="From" id="From" class="" style="width: 140px">
          <option>Tất cả</option>
          <option value="1">1 Tỷ</option>
          <option value="2">2 Tỷ</option>
          <option value="4">4 Tỷ</option>
          <option value="6">6 Tỷ</option>
          <option value="8">8 Tỷ</option>
          <option value="10">10 Tỷ</option>
        </select>
        </td>
    </tr>
    <tr>
    <td style="font-weight:bold; border: none"> đến:
    </td>
    <td class="left w60 pt2" style="border: none">
    <select name="To" class=" " id="To" style="width: 140px">
          <option>Tất cả</option>
          <option value="2">2 Tỷ</option>
          <option value="4">4 Tỷ</option>
          <option value="6">6 Tỷ</option>
          <option value="8">8 Tỷ</option>
          <option value="10">10 Tỷ</option>
          <option value="12">12 Tỷ</option>
        </select>
    </td>
    </tr>
    </table>
    <div class="border-bot-dashed"></div>
    <a class="Search-Advance" href="/home/search">Tìm nâng cao</a>
    <input name="" type="image" class="btn-search-content right" src="/Content/images/btn-search-content.gif" />
    <div class="clearRight"></div>
    </div>
    </div>
    </form>
</div> <!-- end div .search-detail -->