@model NhaChoThue.Models.SearchModel

<div class="boxSearch">
    <div class="boxHead">
        <h3 class="textSearch">Tìm kiếm</h3>
    </div>
    <div class="boxBody">
        <form action="/Home/Search" method="get" name="adv-search" class="form-horizontal">
            <input type="hidden" name="show" value="15" />
            <input type="hidden" name="pg" value="1" />
            <div class="control-group">
                <label class="control-label">Khu vực</label>
                <div class="controls">
                    @Html.DropDownListFor(s => s.Dis, ViewBag.DisctrictSearch as SelectList, "Tất cả")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Giá từ</label>
                <div class="controls">
                    @Html.DropDownListFor(s => s.From, ViewBag.pricesFrom as SelectList, "Tất cả")
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Đến</label>
                <div class="controls">
                    @Html.DropDownListFor(s => s.To, ViewBag.PricesTo as SelectList, "Tất cả")
                </div>
            </div>
            <div class="control-group reset">
                <label class="control-label"><a href="/home/search">Tìm nâng cao</a></label>
                <div class="controls">
                    <input type="submit" value="Search" class="btn" />
                </div>
            </div>
        </form>
    </div>
    <!-- / class boxBody -->
</div>
<!-- / class boxSearch -->
