@{
    ViewBag.Title = "Giới thiệu |";
}
<style type="text/css">
div#header ul.gNav li.about a {
	background: #d27040;
	color: #fff;
}
</style>
<div id="pageBody">
    <div class="introduction">
        <h2 class="lead">Công ty TNHH Xây dựng Thương Mại  Vương Minh Quốc</h2>
        <p>
            Chính thức ra đời vào ngày 13/5/2013, <em>Công ty TNHH Xây dựng Thương Mại Vương Minh Quốc</em> là kết tinh kiến thức, kinh nghiệm và uy tín của kĩ sư <em>Trương Minh Quốc</em> và <em>Bùi Văn Vương</em>. 
Chọn hướng đi chủ yếu là xây dựng, công ty <em>Vương Minh Quốc</em> chú trọng tạo ra những sản phẩm kiến trúc <em>Chất lượng</em> và độc đáo trong các lĩnh vực: công trình nhà ở, thiết kế nội thất, công trình đường bộ, kiến trúc dân dụng. Ngoài ra, công ty cũng phụ trách cung cấp và buôn bán vật liệu, thiết bị phục vụ xây dựng và thiết kế.
Công ty luôn chào đón quý khách hàng tại trụ sở số 5, đường số 1, khu phố 1, phường Bình Hưng Hòa, quận Bình Tân, thành phố Hồ Chí Minh.
        </p>
        <h3>Tầm nhìn và sứ mệnh:</h3>
        <p>
            Gia Đình là tế bào của xã hội, Tổ Ấm là hạnh phúc của Gia Đình. Một ngôi nhà kiên cố là thành quả từ công sức lao động vất vả và mang ý nghĩa to lớn trong cuộc đời mỗi con người. Hiểu rõ được tầm quan trọng đó, chúng tôi- những nhà kiến trúc- luôn đặt mục tiêu quan trọng nhất cho mỗi công trình là mang đến cảm giác hài lòng cho khách hàng : cảm giác thực sự đang sống trong một Tổ Ấm. Chúng tôi xem mỗi công trình là một đứa con tinh thần cần nhiều sự quan tâm chăm chút để trở thành những tác phẩm đẹp, qua đó khiến khách hàng hài lòng với số tiền của mình.  
Với tầm nhìn đó, chúng tôi đặt mục tiêu trở thành một công ty xây dựng tồn tại bằng uy tín của <em>Chất lượng</em> công trình và niềm vui của khách hàng.
        </p>
        <h3>Tiêu chí hoạt động:</h3>
        <p>
            Là những nhà xây dựng, hơn ai hết chúng tôi hiểu rằng những sản phẩm mình tạo ra không chỉ đơn giản là một ngôi nhà hay một cao ốc phục vụ cho sinh hoạt của con người, mà nó còn mang cả sự <em>An toàn</em> của người ở và tính mỹ quan đô thị. Do đó, trong từng hoạt động thi công và làm việc, chúng tôi đặt ra những chỉ tiêu quan trọng mà thiếu một trong những chỉ tiêu ấy công trình không thể hoàn thành, đó là : <em>Chất lượng</em> - <em>An toàn</em> - <em>Thẩm mỹ</em>.
Với kinh nghiệm nhiều năm trong lĩnh vực xây dựng, đội ngũ kĩ sư và kiến trúc sư tại công ty chúng tôi xem <em>Chất lượng</em> công trình như đạo đức làm việc và triết lý kinh doanh. Nhân sự-yếu tố quan trọng cốt lõi của công ty- đều là những con người được trang bị đầy đủ kiến thức, bề dày kinh nghiệm, lòng yêu nghề và tinh thần làm việc năng động. Mỗi căn nhà, căn hộ đều được hình thành từ những bản thiết kế cẩn thận kỹ lưỡng, nguồn VLXD Chất lượng bền bĩ được kiểm soát và giám định chặt chẽ, thái độ chuyên nghiệp và tinh thần trách nhiệm cao nhất. 
Đối với một công ty xem nhân viên như mạch sống thì yếu tố <em>An toàn</em> lao động được chúng tôi vô cùng chú trọng. Chúng tôi cam kết <em>An toàn</em> và <em>Chất lượng</em> đối với dụng cụ bảo hộ, thiết bị hỗ trợ lao động, các quy định <em>An toàn</em> trong công việc, phòng chống cháy nổ, va chạm, vệ sinh môi trường. Quan trọng hơn hết, đối với mỗi công nhân, nhân viên đều được xây dựng ý thức cao về việc bảo vệ <em>An toàn</em> cho bản thân và đồng nghiệp. 
“Người ta bảo “văn là người”. Cũng như vậy, người ta cũng nói “ nhà là người”. Và người cũng chính là nhà. Cho nên khi nói về ngôi nhà cũng chính là nói về con người.” ( trích tạp chí “ Kiến trúc nhà đẹp” số ngày 23/06/2013). Đối với chúng tôi xây dựng một ngôi nhà cũng giống như quan niệm trên. Tuy không mong muốn tạo nên những tác phẩm kì diệu như văn học nhưng chúng tôi quan niệm vẻ đẹp của ngôi nhà nằm ở tính nhân văn của nó. Bằng cách đặt chính mình vào vị trí của khách hàng để hiểu tường tận mong muốn của họ, chúng tôi tạo ra những căn nhà, căn hộ có vẻ đẹp kiến trúc hài hòa với quan cảnh, phối quyện với môi trường, mang nét hiện đại và độc đáo. Ngoài ra, thiết kế nội thất luôn chú ý đến gia thế, nghề nghiệp và tâm lý khách hàng nhằm phô bày hết vẻ đẹp của kiến trúc lẫn con người, tạo nên sự hòa hợp giữa nhà và người. Bằng cách đó, chủ nhân của ngôi nhà và công trình sẽ luôn cảm thấy nơi mình đang sống và làm việc sẽ là những nơi đẹp nhất, thoải mái và ấm áp nhất. Đó chính là vẻ đẹp mà chúng tôi mong muốn và hứa hẹn sẽ tạo ra.
        </p>
    </div>

</div>
