@model IEnumerable<VuongMinhQuoc.Models.Product>
@{    
     ViewBag.Title = "";
}
<style type="text/css">
    div#header ul.gNav li.index a {
        background: #d27040;
        color: #fff;
    }
</style>
<div id="pageBody" style="background: none;">
    <div id="content" class="reset index">
        <div id="sliderFrame">
            <div id="ribbon"></div>
            <div id="slider">
                <a href="http://www.menucool.com/jquery-slider" target="_blank">
                    <img src="/content/images/slide01.jpg" alt="#htmlcaption" />
                </a>
                <img src="/content/images/slide02.jpg" alt="#htmlcaption" />
                <img src="/content/images/slide03.jpg" alt="#htmlcaption1" />
                <img src="/content/images/slide04.jpg" alt="#htmlcaption2" />
                <img src="/content/images/slide05.jpg" />
            </div>
            <div id="htmlcaption" style="display: none;">
                <h3>Thiết kế công trình</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
            <div id="htmlcaption1" style="display: none;">
                <h3>Kế hoạch thi công</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
            <div id="htmlcaption2" style="display: none;">
                <h3>Thi công dự án</h3>
                <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="block">
            <div class="blockLeft">
                <h2>Dự án thực hiện gần đây</h2>
                <ul class="listProject">
                    @foreach (var item in Model)
                    {
                        var des = VuongMinhQuoc.Utils.StringHelper.StripHTML(item.Description);
                        <li>
                        <h3>@item.Title</h3>
                        <p>
                            <img src="@item.Imanges.First().Link" alt="@Html.Raw(VuongMinhQuoc.Utils.StringHelper.StripHTML(item.Description))" /></p>
                        <p class="detail">@Html.Raw(des.Length>=300? des.Substring(0,230)+"..." : des)</p>
                        <p class="link"><a href="/product/details/@item.Id">Chi tiết</a></p>
                    </li>
                    }                    
                </ul>
            </div>
            <div class="contact">
                <h3>Liên hệ</h3>
                <dl>
                    <dt class="phone">Tel:</dt>
                    <dd class="phone">09 1234 1267</dd>
                    <dt>Adress:</dt>
                    <dd>05 Đường Số 1, Khu Phố 1, Phường Bình Hưng Hòa, Quận Bình Tân, TP Hồ Chí Minh</dd>
                    <dt>Email:</dt>
                    <dd>truongminhquoc@gmail.com</dd>
                </dl>                
            </div>
        </div>
    </div>
</div>
<!-- / id pageBody -->
