<style type="text/css">
div#header ul.gNav li.prices a {
	background: #d27040;
	color: #fff;
}
</style>
<div id="pageBody">
    <div id="content">
        ban bao gia se show o day
    </div>
</div>
