@{
    ViewBag.Title = "Service";
}
<style type="text/css">
div#header ul.gNav li.service a {
	background: #d27040;
	color: #fff;
}
</style>
<div id="pageBody">
    	<div id="content" class="reset">
        	<h2>Dịch vụ</h2>
            <ul class="box">
            	<li>
                    <h3 class="mHead">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER</h3>
                    <p class="image"><img src="/content/images/img_blog01.jpg" alt="" /></p>                    
                    <p class="content">Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibh euismod.  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem.</p>
                    <p class="link"><a href="#">More</a></p>
                </li>
                <li>
                    <h3 class="mHead">PRAESENT VESTIBULUM MOLESTIE LACUSEM</h3>
                    <p class="image"><img src="/content/images/img_blog02.jpg" alt="" /></p>                    
                    <p class="content">Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibh euismod.  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem.</p>
                    <p class="link"><a href="#">More</a></p>
                </li>
                <li>
                    <h3 class="mHead">SED UT PERSPICIATIS UNDE OMNIS ISTE DOLOR</h3>
                    <p class="image"><img src="/content/images/img_blog03.jpg" alt="" /></p>                    
                    <p class="content">Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibh euismod.  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem.</p>
                    <p class="link"><a href="#">More</a></p>
                </li>                
            </ul>
        </div>      
    </div><!-- / id pageBody -->