@{
    ViewBag.Title = "Xây dựng | Dịch vụ |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div#header ul.gNav li.service a {
        background: #d27040;
        color: #fff;
    }
</style>
<div id="pageBody" class="pageKienTruc">
    <div id="content" class="reset">
        <h2 class="mHead">Xây dựng</h2>
        <p>Sau khi có được một bản thiết kế hoàn chỉnh và hoàn hảo, giai đoạn được mong đợi nhất chính là xây dựng- biến những nét vẽ trên giấy thành một công trình tồn tại thực sự. Và làm thế nào để chuyển tải được những nét vẽ hoàn hảo thành một công trình hoàn hảo đòi hỏi rất nhiều những tâm quyết, tài năng và tinh thần trách nhiệm. Vì vậy, ở đây, chúng tôi tự hào về đội ngũ kĩ sư xây dựng, những con người kinh nghiệm, nhiệt huyết và tài hoa. Họ có trong đầu những khối ốc sang tạo, linh hoạt và thông minh. Họ có trên người đôi tay và đôi chân cần mẫn, tỉ mỉ và mạnh mẽ. Và hơn hết, họ có trong tim niềm đam mê, tinh thần trách nhiệm, tình yêu nghề và lòng chân thành với khách hàng.</p>
        <p>Với cam kết và tầm nhìn đi lên từ uy tín của chất lượng công trình, chúng tôi đưa ra những chỉ tiêu khắt khe về nguyên vật liệu, dụng cụ, thiết bị và tinh thần làm việc và kiên trì thực hiện những chỉ tiêu ấy, kiên trì thực hiện mục tiêu của mình. Song song đó, chúng tôi quan tâm đến an toàn lao động. Bởi lẽ con người chỉ phát huy được tất cả các thế mạnh sang tạo của bản thân khi được đặt vào trạng thái tinh thần thoải mái nhất. Và quan trọng hơn cả, ở đây, mọi người là một gia đình, chúng tôi yêu quý tất cả đồng nghiệp của mình bởi mọi người được gắn kết với nhau bằng một chân lý chung là mang đến mái ấm cho khách hàng.</p>
        <p style="text-align:center"><img src="~/Content/images/03.jpg" alt="Xây dựng" /></p>
        <h3>Quy trình xây dựng được khái quát như sau:</h3>
        <ul>
            <li>-	Lên kế hoạch về:
                <ul>
                    <li>+ Thời gian thi công</li>
                    <li>+ Vật liệu</li>
                    <li>+ Chi phí</li>
                    <li>+ Trách nhiệm của các bên liên quan...</li>
                </ul>
            </li>
            <li>-	Soạn thảo hợp đồng dựa trên kế hoạch và ký kết hợp đồng</li>
            <li>-	Triển khai thực hiện hợp đồng, có giám sát và theo dõi kĩ càng</li>
            <li>-	Báo cáo phương án thiết kế cho khách hàng, lắng nghe nhận xét đóng góp</li>
            <li>-	Hoàn thành công trình và thực hiện nghiệm thu</li>
            <li>-	Bàn giao hồ sơ thiết kế và thực hiện thủ tục tiến hành thi công</li>
        </ul>
        <p>Trên đây là những thông tin cơ bản về dịch vụ xây dựng tại công ty chúng tôi. Quý khách hàng nếu có điều cần giải đáp vui lòng liên hệ trực tiếp đến chúng tôi.<br />
Công ty Vương Minh Quốc được lập nên để phục vụ và cống hiến những điều tốt nhất cho khách hàng và sẽ luôn kiên trì với mục tiêu đó. 
</p>
    </div>
</div>
<!-- / id pageBody -->

