@model IEnumerable<VuongMinhQuoc.Models.Post>

@{
    ViewBag.Title = "Dịch vụ |";
}
<style type="text/css">
    div#header ul.gNav li.service a {
        background: #d27040;
        color: #fff;
    }
</style>
<div id="pageBody">
    <div id="content" class="reset">
        <h2>Dịch vụ</h2>
        @*<ul class="box">
            @foreach (var item in Model)
            {
                <li>
                    <p class="image">
                        <img src="@item.Image" alt="@VuongMinhQuoc.Utils.StringHelper.StripHTML(item.Conclusion)" />
                    </p>
                    <div class="detailItem">
                        <h3 class="mHead">@item.Title</h3>
                        <p class="content">@Html.Raw(VuongMinhQuoc.Utils.StringHelper.StripHTML(item.Conclusion))</p>
                        <p class="link"><a href="/post/details/@item.Id">Chi tiết</a></p>
                    </div>
                </li>   
            }
        </ul>*@

        <ul class="box">
            <li>
                <p class="image">
                    <img src="~/Content/images/service01.jpg" alt="KIẾN TRÚC" />
                </p>
                <div class="detailItem">
                    <h3 class="mHead">KIẾN TRÚC</h3>
                    <p class="content">Kiến trúc, đối với một ngôi nhà, cũng giống như khung  xương của con người, là nền tảng để tạo nên sự vững chắc cũng như vẻ đẹp hài hòa của chính bản thân ngôi nhà và ngôi nhà với ngoại cảnh. Thêm vào đó, một kiến trúc hoàn hảo sẽ mang đến cảm giác thoải mái và tiện dụng, phối hợp tốt nhất với các thiết bị kĩ thuật và nội thất trong nhà. Kiến trúc, về góc độ con người, nói lên phong cách của chủ nhân và tài năng của nhà xây dựng. Và do đó, vì cả ngôi nhà và con người, chúng tôi quan tâm đến kiến trúc như một điều tối quan trọng và tất yếu...</p>
                    <p class="link"><a href="/home/ServicesKienTruc/">Chi tiết</a></p>
                </div>
            </li>
            <li>
                <p class="image">
                    <img src="~/Content/images/service02.jpg" alt="XÂY DỰNG" />
                </p>
                <div class="detailItem">
                    <h3 class="mHead">XÂY DỰNG</h3>
                    <p class="content">Sau khi có được một bản thiết kế hoàn chỉnh và hoàn hảo, giai đoạn được mong đợi nhất chính là xây dựng- biến những nét vẽ trên giấy thành một công trình tồn tại thực sự. Và làm thế nào để chuyển tải được những nét vẽ hoàn hảo thành một công trình hoàn hảo đòi hỏi rất nhiều những tâm quyết, tài năng và tinh thần trách nhiệm. Vì vậy, ở đây, chúng tôi tự hào về đội ngũ kĩ sư xây dựng, những con người kinh nghiệm, nhiệt huyết và tài hoa. Họ có trong đầu những khối ốc sang tạo, linh hoạt và thông minh. Họ có trên người đôi tay và đôi chân cần mẫn, tỉ mỉ và mạnh mẽ...</p>
                    <p class="link"><a href="/home/ServicesXayDung/">Chi tiết</a></p>
                </div>
            </li>
        </ul>

    </div>
</div>
<!-- / id pageBody -->
