@{
    ViewBag.Title = "Kiến trúc | Dịch vụ |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div#header ul.gNav li.service a {
        background: #d27040;
        color: #fff;
    }
</style>
<div id="pageBody" class="pageKienTruc">
    <div id="content" class="reset">
        <h2 class="mHead">Kiến trúc</h2>
        <p>Kiến trúc, đối với một ngôi nhà, cũng giống như khung  xương của con người, là nền tảng để tạo nên sự vững chắc cũng như vẻ đẹp hài hòa của chính bản thân ngôi nhà và ngôi nhà với ngoại cảnh. Thêm vào đó, một kiến trúc hoàn hảo sẽ mang đến cảm giác thoải mái và tiện dụng, phối hợp tốt nhất với các thiết bị kĩ thuật và nội thất trong nhà. Kiến trúc, về góc độ con người, nói lên phong cách của chủ nhân và tài năng của nhà xây dựng. Và do đó, vì cả ngôi nhà và con người, chúng tôi quan tâm đến kiến trúc như một điều tối quan trọng và tất yếu.</p>
        <p>Đảm nhiệm vai trò quan trọng ấy chính là đội ngũ nhân sự tài năng của chúng tôi: những kiến trúc sư đầy kinh nghiệm và những chuyên viên thiết kế, chuyên viên kĩ thuật với trình độ chuyên môn cao và lòng đam mê nhiệt huyết với nghề. Họ là những con người luôn miệt mài sang tạo, miệt mài lao động để làm ra những công trình tốt nhất phục vụ khách hàng và làm đẹp cộng đồng.</p>
        <p style="text-align:center"><img src="~/Content/images/02.jpg" alt="Kiến trúc" /></p>
        <h3>Để hoàn thành công việc thiết kế cần phải trải qua những giai đoạn khái quát sau:</h3>
        <ul>
            <li>-	Xác định rõ nhu cầu khách hàng : để đạt được kết quả và sự hài lòng nhất từ phía khách hàng, trước khi bắt đầu công việc chúng tôi đều có cuộc gặp gỡ với khách hàng, tìm hiểu kĩ càng về nhu cầu, yêu cầu và mong muốn của họ, đồng thơi tư vấn, giải đáp thắc mắc cũng như trao đổi thông tin với khách hàng </li>
            <li>-	Thỏa thuận , lập hợp đồng về trách nhiệm đôi bên, chi phí và thời gian hoàn thành bản thiết kế</li>
            <li>-	Khảo sát thực địa và thiết kế phương án sơ bộ : với sự hỗ trợ của những phương tiện tốt nhất, các kiến trúc sư sẽ tiến hành khảo sát khu đất xây dựng. Sau khi có được những thông tin chính xác, họ tiến hành </li>
            <li>-	Báo cáo phương án thiết kế cho khách hàng, lắng nghe nhận xét đóng góp</li>
            <li>-	Hoàn thành bản thiết kế chính thức dựa trên sự khả thi về điều kiện và đóng góp của khách hàng</li>
            <li>-	Bàn giao hồ sơ thiết kế và thực hiện thủ tục tiến hành thi công</li>
        </ul>
        <p>Như đã nói, thiết kế là giai đoạn quan trọng. Vì vậy, tùy vào tình hình thực tế và quy mô dự án mà thời gian thiết kế sẽ kéo dài nhanh hoặc chậm. Nhưng có 1 điều chắc chắn rằng chúng tôi sẽ luôn thế hiện nổ lực cao nhất trong công việc nhằm mang đến những kết quả tốt nhất.</p>
    </div>
</div>
<!-- / id pageBody -->
