@{
    ViewBag.Title = "Ký gởi nhà thành công";
}
<div class="Abount-Content">
<h2>Bạn đã ký gởi nhà thành công!</h2>
<p>cảm ơn bạn đã tin tưởng chúng tôi. Thông tin của bạn đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian ngắn nhất để xác minh thông tin và thực hiện các thủ tục khác để thông tin của bạn sớm được đăng.</p>
<p>Mọi thắc mắc xin vui lòng liên hệ trực tiếp đến chúng tôi để được giải quyết nhanh nhất.</p>
</div>