@charset "utf-8";
/* CSS Document */

div#content ul.box {
	padding-right: 40px;
}

div#content ul.box li {
    float: left;
	margin-bottom: 30px;
	position: relative;
}

div#content ul.box li p.image {
    float: left;
    width: auto;
	margin-right: 20px;
}

div#content ul.box li .detailItem {
    float: right;
    width: 595px;
}

div#content ul.box li p.image img {
    border: 5px solid #534b43;
	width: 270px;
	height: 224px;
}

div#content ul.box li h3.mHead {
	color: #fff;
	margin-bottom: 20px;
	font-size: 14px;
	text-transform: uppercase;
}

div#content ul.box li p.content {
	color: #787271;
	font-size: 12px;
    padding-top: 10px;
	text-align: justify;
}

div#content ul.box li p.link {
    padding: 20px 0 10px;
}

div#content ul.box li p.link a {
    clear: both;
	background: #d27040;
	color: #f0eeeb;
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 15px;
    position: absolute;
    bottom: 0;
}

div#content ul.box li p.link a:hover {
	background: #2d2824;
	color: #6d7271;	
}

div#content.reset {
	padding-left: 20px;
	width: 100% !important;
}

div#content.reset h2 {
	margin: 20px 0 10px;
}

div#content.reset .title {
	color: #787271;
	font-size: 14px;
	margin-bottom: 15px;
}

div#content.reset ul.listProject {
	margin-right: -30px;
    float: left;
    width: 620px;
}

div#content.reset ul.listProject li {
	float: left;
	margin-bottom: 35px;
	padding-right: 30px;
	width: 280px;
}

div#content.reset ul.listProject li p img {
	border: 5px solid #534b43;
	margin-bottom: 10px;
	width: 270px;
	height: 134px;
}

div#content.reset ul.listProject li h3 {
	color: #dad2d1;
	font-size: 14px;
	margin-bottom: 7px;
}

div#content ul.listProject li p {
	color: #787271;
	font-size: 12px;
}

div#content ul.listProject li p.link {
	padding: 20px 0 10px;
}

div#content ul.listProject li p.link a {
	clear: both;
	background: #d27040;
	color: #f0eeeb;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 10px;
}

div#content.reset.index {
	padding: 0;
}

div#content.reset ul.projectList {
	margin-right: -30px;
}

div#content.reset ul.projectList li {
	float: left;
	margin-bottom: 35px;
	padding-right: 30px;
	width: 280px;
}

div#content.reset ul.projectList li p img {
	border: 5px solid #534b43;
	margin-bottom: 10px;
	width: 270px;
	height: 134px;
}

div#content.reset ul.projectList li h3 {
	color: #dad2d1;
	font-size: 12px;
	margin-bottom: 7px;
}

div#content ul.projectList li p {
	color: #787271;
	font-size: 12px;
    text-align: justify;
}

div#content ul.projectList li p.link {
    padding: 20px 0 10px;
}

div#content ul.projectList li p.link a {
    clear: both;
	background: #d27040;
	color: #f0eeeb;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 10px;
}

div#content ul.projectList li p.link a:hover {
	background: #2d2824;
	color: #6d7271;	
}

div#content.reset.index {
	padding: 0;
}

#pageProductDetail #content {
    background: #37332D;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

#pageProductDetail #content h2 {
    margin:0 0 20px 0;
    padding: 30px 0 0 0;
}

#pageProductDetail #content p {
    color: #ADB3AA;
    font-size: 14px;
    padding: 0 30px 0 0;
}

div#content.reset.index .block {
    background:#37332D;
    padding-bottom: 30px;
}

div#content.reset.index .block .blockLeft {
    float:left;
}

div#content.reset.index .block .blockLeft h2 {
	margin: 30px 0 25px;
    padding-left:20px;
    color: #dad2d1;
}

div#content.reset.index .block .blockLeft ul.listProject {
	padding-left: 20px;
}

div#content.reset.index .block .blockLeft ul.listProject li {
	margin-bottom: 10px;
}

div#content.reset.index .block .blockLeft ul.listProject li p img {
	margin-bottom: 6px;
	width: 270px;
	height: 134px;
}

div#content.reset.index .block .blockLeft ul.listProject li p.detail {
    text-align: justify;
}

div#content.reset.index .block .contact {
    background: #292621;
    border-radius: 20px 20px 20px 20px;
    float: right;
    margin: 10px;
    padding: 0 15px 25px 0;
    width: 263px;   
}

div#content.reset.index .block .contact h3 {
    color: #787271;
    font-size: 20px;
    margin: 30px 0 35px;
    padding-left: 15px;
}

div#content.reset.index .block .contact dl {
    color: #ADB3AA;
    padding-left: 15px;
}

div#content.reset.index .block .contact dl dt {
    float: left;
     font-size:12px;
}

div#content.reset.index .block .contact dl dt.phone,
div#content.reset.index .block .contact dl dd.phone  {
    color: #DAD2D1;
    font-size: 26px;
}


div#content.reset.index .block .contact dl dd {
    padding-left: 60px;
     font-size:14px;
}

div#content.reset.index .block .contact .phone {
    color:#ADB3AA;
    font-size:23px;
    margin-bottom:15px;
}

h2.lead {
    color: #FFF;
    text-align: center;
    padding-top: 20px;
}
.introduction p {
    color: #ADB3AA;
    font-size:12px;
    padding: 0 20px;
    text-align: justify;
    padding-bottom: 20px;
}

.introduction p em {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}

.introduction h3 {
    padding: 0 0 5px 20px;
    color: #ADB3AA;
    font-size:14px;
    text-transform:uppercase;
}
/* # clearfix
---------------------------------------------------------------------------- */

div#content ul.box,
div#content ul.box li,
div#content.reset.index .block,
div#content.reset.index .block .blockLeft,
div#content ul.listProject,
div#content.reset.index ul.listProject {
	zoom: 1;
}

div#content ul.box:after,
div#content ul.box li:after,
div#content.reset.index .block:after,
div#content.reset.index .block .blockLeft:after,
div#content ul.listProject:after,
div#content.reset.index ul.listProject:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}


/* Animation ------------------------
-------------------------------------------*/

@keyframes tren-duoi{0%
{opacity:0;
	transform:translateY(-180px);}
100%{opacity:1;
	-ms-transform:translateX(0px);}
}
@-webkit-keyframes tren-duoi{0%{opacity:0;-webkit-transform:translateY(-180px);}
100%{opacity:1;-webkit-transform:translateX(0px);}
}
@-moz-keyframes tren-duoi{0%{opacity:0;-moz-transform:translateY(-180px);}
100%{opacity:1;-moz-transform:translateX(0px);}
}
@-ms-keyframes tren-duoi{0%{opacity:0;-ms-transform:translateY(-180px);}
100%{opacity:1;-ms-transform:translateX(0px);}
}
@-o-keyframes tren-duoi{0%{opacity:0;-o-transform:translateY(-180px);}
100%{opacity:1;-ms-transform:translateX(0px);}
}

/*** End flipOutY ***/

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.cke_chrome {
    width: 800px !important;
}