<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>Index</title>
<meta name="description" content="Công ty TNHH Xây dựng Thương Mại Vương Minh Quốc" />
<meta name="keywords" content="Công ty TNHH Xây dựng Thương Mại Vương Minh Quốc" />
<link href="/content/css/import.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="/content/css/style.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="/content/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link rel="stylesheet" type="text/css" href="/content/jsImgSlider/js-image-slider.css"/>
<script type="text/javascript" src="/scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/scripts/jsImgSlider/js-image-slider.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>
<link rel="contents" href="/" title="" />
</head>

<body>
<div id="layout">
	<div id="header">
    	<h1 id="logo"><a href="/"><img src="/content/images/logo.png" alt="Công ty TNHH Xây dựng Thương Mại Vương Minh Quốc" /></a></h1>
        <ul class="gNav">
            <li class="index"><a href="/">Trang chủ</a></li>
            <li class="service"><a href="/home/Services">Dịch vụ</a></li>
            <li class="products"><a href="/product/productList">Dự án</a>
            	<ul class="gNavInner">
                    @foreach (var item in ViewBag.years)
                    {
                        <li><a href="/product/productList?year=@item">Năm @item</a></li>
                    }
                </ul>
            
            </li>
            <li class="prices"><a href="/home/Prices">Bảng giá</a></li>
            <li class="about"><a href="/home/about">Giới thiệu</a></li>
        </ul>      
    </div><!-- / id header -->
    @RenderBody()

    <div id="fotter">
    	<div class="contact">
        	<p><strong>Công ty Xây dựng Vương Minh Quốc</strong><br />
            Adress: 27/26 Trường Chinh - Hồ Chí Minh<br />
            Tel: 0988 888 888</p>
        </div>
    	<p id="copyright">Copyright &copy;2013 Minhsong.Net<br /> Designed and Develop by MinhSong Group</p>
    </div><!-- / id fotter -->    
</div><!-- /id /layout -->
</body>
</html>
