<div class="house-priority">
    	<div class="house-priority-header">
        	<h3 class="house-priority-header-content">
            	<div style="float:left">
                	<img src="../../Content/images/icon-priority.jpg" />
                </div>
            	<div><a href="">Nhà ưu tiên</a></div>
            </h3>
            <br class="clearBoth"/>
            <div style="height:3px"></div>
        </div> <!-- end .house-priority-header -->
        <div class="house-priority-content">
        	<div class="house-priority-ele pt10">
            	<a>
                	<img src="../../Content/images/priority-hou.jpg" />
                </a>
            <div class="house-priority-intro">
            	<h3 class="house-priority-intro-title"> Nha dep thoi roi</h3>
                <p class="house-priority-intro-content">noi that ok, ngoai that ok, mau sac ok</p>
                <span class="house-priority-intro-price blue">7Ti</span>
            </div>
            </div> <!-- .house-priority-ele -->
            <div class="house-priority-ele pt10" >
            	<a>
                	<img src="../../Content/images/priority-hou.jpg" />
                </a>
            <div class="house-priority-intro">
            	<h3 class="house-priority-intro-title"> Nha dep thoi roi</h3>
                <p class="house-priority-intro-content">noi that ok, ngoai that ok, mau sac ok</p>
                <span class="house-priority-intro-price blue">7Ti</span>
            </div>
            </div> <!-- .house-priority-ele -->
            <div class="house-priority-ele pt10">
            	<a>
                	<img src="../../Content/images/priority-hou.jpg" />
                </a>
            <div class="house-priority-intro">
            	<h3 class="house-priority-intro-title"> Nha dep thoi roi</h3>
                <p class="house-priority-intro-content">noi that ok, ngoai that ok, mau sac ok</p>
                <span class="house-priority-intro-price blue">7Ti</span>
            </div>
            </div> <!-- .house-priority-ele -->
        </div><!-- end .house-priority-content -->
    </div>