@model IEnumerable<BDSBanGap.Models.DBContext.Product>
<div class="house-priority">
    	<div class="house-priority-header">
        	<h3 class="house-priority-header-content">
            	<div style="float:left">
                	<img src="../../Content/images/icon-priority.jpg" />
                </div>
            	<div><a href="">Nhà ưu tiên</a></div>
            </h3>
            <br class="clearBoth"/>
            <div style="height:3px"></div>
        </div> <!-- end .house-priority-header -->
        <div class="house-priority-content">
        @foreach (var item in Model)
        {
            <div class="house-priority-ele pt10">
            	<a>
                @if (item.Images.Count > 0)
                {
                    <img src="@item.Images.First().ThumblLink" />
                }
                else
                {
                    <img src="../../Content/images/priority-hou.jpg" />
                }
                	
                </a>
            <div class="house-priority-intro">
            	<h3 class="house-priority-intro-title"> @(item.Title.Length>80?item.Title.Substring(0,80):item.Title )</h3>
                <p class="house-priority-intro-content">@Html.Raw(item.Description.Length>100? item.Description.Substring(0,100) : item.Description)</p>
                <span class="house-priority-intro-price blue">@item.Price Tỷ</span>
            </div>
            </div> <!-- .house-priority-ele -->
        }
        </div><!-- end .house-priority-content -->
    </div>