@model IEnumerable<VuongMinhQuoc.Models.Product>

@{
    ViewBag.Title = "Dự án |";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div#header ul.gNav li.products a {
        background: #d27040;
        color: #fff;
    }

    div#header ul.gNav li.products ul li a {
        background: #332E29;
        color: #736d6c;
    }

        div#header ul.gNav li.products ul li a:hover {
            background: #d27040;
            color: #fff;
        }
</style>
<div id="pageBody">
    <div id="content" class="reset">
        <h2>Dự án</h2>
        <p class="title">Các dự án được thực hiển bởi công ty TNHH Thương Mại - Xây Dựng Vương Minh Quốc</p>
        <ul class="projectList">
            @foreach (var item in Model)
            {
                var des = Html.Raw(VuongMinhQuoc.Utils.StringHelper.StripHTML(item.Description)) ;
                <li>
                    <p>
                        <img src="@item.Imanges.First().Link" alt="@Html.Raw(des)" />
                    </p>
                    <h3>@item.Title</h3>
                    
                    <p class="detail">@Html.Raw(des.ToHtmlString().Length>=300? des.ToHtmlString().Substring(0,230)+"..." : des.ToHtmlString())</p>
                    <p class="link"><a href="/product/details/@item.Id">Chi tiết</a></p>
                </li>                
            }
        </ul>
    </div>
</div>
