@{
    ViewBag.Title = "Bảng giá |";
}
<style type="text/css">
    div#header ul.gNav li.prices a {
        background: #d27040;
        color: #fff;
    }
</style>
<div id="pageBody" class="pagePrices">
    <div id="content" class="reset">
        <p>
            <img src="~/Content/images/BAO-GIA-XAY-NHA-PHAN-THO-2013-05.jpg" alt="" /></p>
        <p>
            <img src="~/Content/images/BAO-GIA-XAY-NHA-HOAN-THIEN-2013-05.jpg" alt="" /></p>
        
    </div>
</div>
