<div id="pageBody">
    	<div id="content">
        	<h2>Blog</h2>
            <ul class="box">
            	<li>
                    <p class="image"><img src="/content/images/img_blog01.jpg" alt="" /></p>
                    <h3 class="mHead">LOREM IPSUM DOLOR SIT AMET, CONSECTETUER</h3>
                    <p class="content">Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibh euismod.  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem.</p>
                    <p class="link"><a href="#">More</a></p>
                </li>
                <li>
                    <p class="image"><img src="/content/images/img_blog02.jpg" alt="" /></p>
                    <h3 class="mHead">PRAESENT VESTIBULUM MOLESTIE LACUSEM</h3>
                    <p class="content">Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibh euismod.  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem.</p>
                    <p class="link"><a href="#">More</a></p>
                </li>
                <li>
                    <p class="image"><img src="/content/images/img_blog03.jpg" alt="" /></p>
                    <h3 class="mHead">SED UT PERSPICIATIS UNDE OMNIS ISTE DOLOR</h3>
                    <p class="content">Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibh euismod.  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem.</p>
                    <p class="link"><a href="#">More</a></p>
                </li>                
            </ul>
        </div>
        <div id="sidebar">
        	<h3>Category</h3>
            <ul class="list">
            	<li><a href="#">Commercial</a></li>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Renovation and Remodeling</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Cultural</a></li>
                <li><a href="#">Government</a></li>
                <li><a href="#">Production Builder Product Design</a></li>
            </ul>
            <h3>Recent Posts</h3>
           	<ul class="postList">
                <li>
                    <div class="date">
                        <p class="day">26</p>
                        <p class="month">May</p>
                    </div>
                    <div class="info">
                        <h4>LOREM IPSUM DOLOR AMET CONSECT.</h4>
                        <p>Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibhume euismod. Tincidunt ut laoreet.<a href="#">>>></a></p>
                    </div>
                </li>
                <li>
                    <div class="date">
                        <p class="day">26</p>
                        <p class="month">May</p>
                    </div>
                    <div class="info">
                        <h4>LOREM IPSUM DOLOR AMET CONSECT.</h4>
                        <p>Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibhume euismod. Tincidunt ut laoreet.<a href="#">>>></a></p>
                    </div>
                </li>
                <li>
                    <div class="date">
                        <p class="day">26</p>
                        <p class="month">May</p>
                    </div>
                    <div class="info">
                        <h4>LOREM IPSUM DOLOR AMET CONSECT.</h4>
                        <p>Lorem ipsum dolor sit amet consectetuer adipisc elit sed diam nonummy nibhume euismod. Tincidunt ut laoreet.<a href="#">>>></a></p>
                    </div>
                </li>                    
            </ul>
        </div>
    </div><!-- / id pageBody -->