@model IEnumerable<VuongMinhQuoc.Models.Post>

@{
    ViewBag.Title = "Dịch vụ |";
}
<style type="text/css">
    div#header ul.gNav li.service a {
        background: #d27040;
        color: #fff;
    }
</style>
<div id="pageBody">
    <div id="content" class="reset">
        <h2>Dịch vụ</h2>
        <ul class="box">
            @foreach (var item in Model)
            {
                <li>
                    <p class="image">
                        <img src="@item.Image" alt="@VuongMinhQuoc.Utils.StringHelper.StripHTML(item.Conclusion)" />
                    </p>
                    <div class="detailItem">
                        <h3 class="mHead">@item.Title</h3>
                        <p class="content">@Html.Raw(VuongMinhQuoc.Utils.StringHelper.StripHTML(item.Conclusion))</p>
                        <p class="link"><a href="/post/details/@item.Id">Chi tiết</a></p>
                    </div>
                </li>   
            }

        </ul>
    </div>
</div>
<!-- / id pageBody -->
