@{
    ViewBag.Title = "THÔNG TIN : BDSBANGAP.COM";
}
<style type="text/css">
.red {color:red;}
.red2 {color:rgb(214, 108, 108)}
.ml20 {margin-left:20px}
.about-content{
width: 95%;
padding-left: 10px;
border: dashed;
margin-top: 20px;
padding-top: 10px;
padding: 20px 5px 10px 15px;
color: olive;
border-color: #696969;
}
</style>

<div class="about-content">
<p align="center">
    <strong><u class="red">THÔNG TIN CỦA CHÚNG TÔI</u></strong>
</p>
<p class="red">
    <strong>1. </strong>
    <strong><u>Lợi ích chúng tôi đem đến cho Quý khách hàng:</u></strong>
</p>
<p class="ml20">
- Tiết kiệm được rất nhiều thời gian và công sức khi đi tìm mua nhà đất – chúng tôi đã sàn lọc, thẩm định giá và pháp lý rất nghiêm ngặt.    <strong><u></u></strong>
</p>
<p class="ml20">
- Khách hàng sẽ mua được những nhà đất với giá hời nhất – chúng tôi chuyên săn những nhà đất bán gấp có giá thấp hơn giá thị trường tối thiểu 20%.    <strong><u></u></strong>
</p>
<p class="ml20">
    - Tuyệt đối an toàn về mặt pháp lý khi mua nhà đất – chúng tôi hiểu sâu về pháp lý trong bất động sản, đồng thời có mối quan hệ rất thân thiết với chính
    quyền các phường, quận mà chúng tôi làm việc (quận: 1, 3, Phú Nhuận, Bình Thạnh).<strong><u></u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p class="red">
    <strong>2. </strong>
    <strong><u>Năng lực và kinh nghiệm:</u></strong>
</p>
<p class="ml20">
    - Đa số nhân viên môi giới của chúng tôi là môi giới tại địa phương có đến 15-25 năm kinh nghiệm trong nghề.<strong><u></u></strong>
</p>
<p class="ml20">
    - Bản thân đội ngũ lãnh đạo là những nhà kinh doanh bất động sản nhiều năm tại các quận: 1, 3, Phú Nhuận, Bình Thạnh.<strong><u></u></strong>
</p>
<p class="ml20">
    - Chúng tôi có một ngân hàng những bất động sản đã bán trong nhiều năm qua tại địa phương, để giúp cho việc thẩm định giá bất động sản cũng như dự đoán
    được giá trị tương lai của nhà đất đó.<strong><u></u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p class="red">
    <strong>3. </strong>
    <strong><u>Cam kết của chúng tôi:</u></strong>
</p>
<p class="ml20">
    - Đội ngũ lãnh đạo và toàn thể nhân viên <strong><u>bdsbangap.com</u></strong> cam kết luôn đem đến cho Quý khách hàng và nhà đầu tư những bất động sản tốt
    nhất ở khu vực chúng tôi phụ trách.<strong><u></u></strong>
</p>
<p class="ml20">
    - Chúng tôi cam kết luôn tập trung, chăm chỉ và trung thực với Quý khách hàng.<strong><u></u></strong>
</p>
<p class="ml20">
    - Chúng tôi cam kết luôn tâm huyết với công việc.<strong><u></u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p class="red">
    <strong>4. </strong>
    <strong><u>Hợp tác – Đối tác chiến lược:</u></strong>
</p>
<p class="ml20">
    - Hiện chúng tôi cần hợp tác với những <strong>Nhà đầu tư</strong> bất động sản cá nhân và tổ chức để đầu tư bất động sản tại các quận: 1, 3, Phú Nhuận,
    Bình Thạnh. Chúng tôi có chiến lược đầu tư rất khôn ngoan và luôn thành công ngay tại thời điểm hiện tại.<strong><u></u></strong>
</p>
<p class="ml20">
    - Chúng tôi cần hợp tác với các <strong>Nhà môi giới</strong> bất động sản cá nhân và tổ chức chuyên nghiệp, có những nhà đất bán gấp giá rẻ tại khu vực
    các quận: 1, 3, Phú Nhuận, Bình Thạnh.<strong><u></u></strong>
</p>
<p class="ml20">
    - Chúng tôi cần hợp tác với các <strong>Ngân hàng</strong> có những nhà đất cần bán gấp thanh lý gấp giá rẻ tại khu vực các quận: 1, 3, Phú Nhuận, Bình
    Thạnh.<strong><u></u></strong>
</p>
<p class="red">
    <strong>5. </strong>
    <strong><u>Thông tin liên hệ:</u></strong>
</p>
<p class="ml20">
    - Công ty TNHH ĐẦU TƯ – MÔI GIỚI BĐS NHÀ ĐƯƠNG ĐẠI – <strong><u>bdsbangap.com;</u></strong>
</p>
<p class="ml20">
    - 14 Hoa Sứ, P.2, Q.Phú Nhuận, Tp.HCM<strong>;<u></u></strong>
</p>
<p class="ml20">
    - Điện thoại: 08-66835624 – hotline: 090.88.666.79 Mr.Lâm.<strong><u></u></strong>
</p>
</div>
