@{
    ViewBag.Title = "Đăng ký mua bất động sản thành công";
}
<div class="content">
    <div class="element-right">
        <div class="about-content">
            <h2 style="color:red;">Đăng ký mua bất động sản thành công!</h2>
            <p>Quý khách hàng đã đăng ký thông tin mua bất động sản thành công. khi có bất động sản phù hợp với yêu cầu của Quý khách hàng chúng tôi sẽ thông báo thông tin đến cho Quý khách hàng thông qua thông tin được cũng cấp.</p>
            <p>
                Chúng tôi cam kết sẽ cũng cấp thông tin bất động sản tốt nhất với giá cả hợp lý nhất, phù hợp với nhu cầu thực tế của Quý khách hàng.
            </p>
        </div>
    </div>
</div>
